@font-face {
  font-family: "iconfont"; /* Project id 3241706 */
  src: url('iconfont.woff2?t=1665718640244') format('woff2'),
       url('iconfont.woff?t=1665718640244') format('woff'),
       url('iconfont.ttf?t=1665718640244') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-dy-tuichuquanping:before {
  content: "\e8fa";
}

.el-icon-dy-quanping:before {
  content: "\e655";
}

.el-icon-dy-zhongyingwenyingwen-01:before {
  content: "\e671";
}

.el-icon-dy-baoguo_lanshou_o:before {
  content: "\ebb8";
}

.el-icon-dy-yishouhuo1:before {
  content: "\e640";
}

.el-icon-dy-quanbugengduo:before {
  content: "\e71e";
}

.el-icon-dy-feijichang:before {
  content: "\e623";
}

.el-icon-dy-flagqizi:before {
  content: "\e6d5";
}

.el-icon-dy-gantanhao:before {
  content: "\e606";
}

.el-icon-dy-loudou:before {
  content: "\e607";
}

.el-icon-dy-yunshuguojiu:before {
  content: "\e7bc";
}

.el-icon-dy-shibaixiaolian:before {
  content: "\e627";
}

.el-icon-dy-yishouhuo:before {
  content: "\e630";
}

.el-icon-dy-dizhibu:before {
  content: "\e650";
}

.el-icon-dy-Invoice:before {
  content: "\e668";
}

.el-icon-dy-daochu:before {
  content: "\e61b";
}

.el-icon-dy-yonghuguanli:before {
  content: "\e603";
}

.el-icon-dy-daoru:before {
  content: "\e6ae";
}

.el-icon-dy-chuangjianv:before {
  content: "\e619";
}

.el-icon-dy-dayinji:before {
  content: "\e6c2";
}

.el-icon-dy-quxiao:before {
  content: "\e68e";
}

.el-icon-dy-776bianjiqi_congcaogaoxiangjiazai:before {
  content: "\e659";
}

.el-icon-dy-koujianshijian:before {
  content: "\e613";
}

.el-icon-dy-anniu-tuijian:before {
  content: "\e689";
}

.el-icon-dy-shanchu:before {
  content: "\e602";
}

.el-icon-dy-shujuhuoqu:before {
  content: "\e605";
}

.el-icon-dy-wodedingdan:before {
  content: "\e604";
}

.el-icon-dy-shouzhiliushui:before {
  content: "\e621";
}

.el-icon-dy-icon_xiugaimima:before {
  content: "\e648";
}

.el-icon-dy-dizhiguanli:before {
  content: "\e624";
}

.el-icon-dy-caiwu:before {
  content: "\e625";
}

.el-icon-dy-wode-yundanchaxunicon:before {
  content: "\e656";
}

.el-icon-dy-wentijianchaxun:before {
  content: "\e622";
}

.el-icon-dy-qingkuanzhangdanliebiao:before {
  content: "\e63f";
}

.el-icon-dy-gerenshezhi:before {
  content: "\e64e";
}

.el-icon-dy-tubiao_dingdanguanli:before {
  content: "\e634";
}

.el-icon-dy-guijichaxun:before {
  content: "\e6b9";
}

.el-icon-dy-chuangjiandingdan:before {
  content: "\e75c";
}

.el-icon-dy-chongzhijilu:before {
  content: "\e6ca";
}

.el-icon-dy-shoukuanzhanghuguanli:before {
  content: "\e864";
}

.el-icon-dy-jisuan:before {
  content: "\e618";
}

.el-icon-dy-dituchaxun:before {
  content: "\e9d5";
}

.el-icon-dy-biaoqiansheji:before {
  content: "\e699";
}

